@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&family=Dancing+Script:wght@500&family=Manrope:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Comfortaa', sans-serif;
  background: rgb(22, 22, 22);
  color: rgb(177, 177, 177);
  scroll-behavior: smooth;
}
.head-point{
  background: rgb(14, 14, 14);
}
html{
  scroll-behavior: smooth
}

@layer base {
  section {
    @apply py-[75px];
  }
}

/* .img-width{
  display: flex;
  justify-content: flex-end;
  width: 300px
} */
/* .my-img{
  height: 250px;
}
.textarea{
  width: 500px
} */

@layer components {
  li{
    @apply cursor-pointer
  }
  .container {
    @apply max-w-full w-[1300px] px-5 mx-auto;
  }

}

@media only screen and (max-width: 1024px) {
  .container {
    @apply w-full;
  }
}
